*{
  box-sizing: border-box;
}

body {
  background-color: #638575;
}

a {
  text-decoration: none;
  color: #638575;
}

.menu-layout{
  display: flex;
  margin: 0px auto;
  max-width: 930px;
  width: 100%;
  justify-content: space-between;
}

.menu-item {
  flex: 1;
  text-align: center;
  color: #638575;
  background-color: white;
  box-sizing: border-box;
  line-height: 1.6;
  padding: 1em 0em;
  margin: 1em;
  flex-basis: 30%;
  transition-property: background-color, border-radius;
  transition-duration: 3s, 1s;
}

.menu-item:hover {
  background-color: #8ed4a0;
  border-radius: 20%;
}

.column-layout {
  background-color: white;
  max-width: 900px;
  margin: 20px auto 0 auto;
  padding: 1em;
  line-height: 1.6;
  display: flex;
}

.main-column {
  flex: 3;
  order: 1;
  text-align: center;
}

.side-bar {
  flex: 1;
  order: 2;
  text-align: left;
}

img {
  width: 200px;
  height: 200px;
}

.call-outs-container {
  max-width: 900px;
  margin: 40px auto 0 auto;
  display:flex;
  justify-content: space-between;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 49%;
}

.call-out:nth-child(1) {
  background-color: #8ed4a0;
}

.call-out:nth-child(2) {
  background-color: #8ed4a0;
}

button {
  background-color: white;
  color: #638575;
}
